{{- /*
Copyright Broadcom, Inc. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/}}

{{/* Adding the helper in here for better readability */}}
{{- define "nifi.defaultNifiProperties" }}
## Paths and Directories
nifi.nar.library.directory: /opt/bitnami/nifi/lib
nifi.nar.library.autoload.directory: /opt/bitnami/nifi/extensions
nifi.nar.working.directory: /opt/bitnami/nifi/work/nar/
nifi.python.framework.source.directory: /opt/bitnami/nifi/python/framework
nifi.python.extensions.source.directory.default: /opt/bitnami/nifi/python/extensions
nifi.python.working.directory: /opt/bitnami/nifi/work/python
nifi.asset.manager.properties.directory: /opt/bitnami/nifi/assets
nifi.web.jetty.working.directory: /opt/bitnami/nifi/work/jetty
nifi.diagnostics.on.shutdown.directory: /opt/bitnami/nifi/diagnostics
nifi.state.management.configuration.file: /opt/bitnami/nifi/conf/state-management.xml
nifi.login.identity.provider.configuration.file: /opt/bitnami/nifi/conf/login-identity-providers.xml
nifi.authorizer.configuration.file: /opt/bitnami/nifi/conf/authorizers.xml
# Persisted directories and paths
nifi.upload.working.directory: {{ .Values.persistence.mountPath }}/uploads
nifi.database.directory: {{ .Values.persistence.mountPath }}/database_repository
nifi.flowfile.repository.directory: {{ .Values.persistence.mountPath }}/flowfile_repository
nifi.content.repository.directory.default: {{ .Values.persistence.mountPath }}/content_repository
nifi.provenance.repository.directory.default: {{ .Values.persistence.mountPath }}/provenance_repository
nifi.nar.persistence.provider.properties.directory: {{ .Values.persistence.mountPath }}/nar_repository
nifi.flow.configuration.file: {{ .Values.persistence.mountPath }}/flow-conf/flow.json.gz

## Ports and addresses
{{ $protocol := ternary "https" "http" .Values.tls.enabled }}
nifi.web.{{ $protocol }}.port: {{ .Values.containerPorts.web }}
nifi.web.{{ $protocol }}.host: {{ printf "{{ POD_NAME }}.%s.%s" (include "nifi.headlessServiceName" .) (include "common.names.namespace" .) | quote }}
nifi.web.proxy.host: {{ include "nifi.web.proxyHosts" . }}

## State management
nifi.state.management.provider.local: local-provider

## Security
nifi.sensitive.props.algorithm: NIFI_PBKDF2_AES_GCM_256
nifi.sensitive.props.key: "{{ print "{{ NIFI_SENSITIVE_PROPS_KEY }}" }}"

{{- if .Values.auth.enabled }}
nifi.security.user.login.identity.provider: single-user-provider
nifi.security.user.authorizer: single-user-authorizer 
{{- end }}

{{- if .Values.tls.enabled }}
# TLS
nifi.security.keystoreType: PEM
nifi.security.truststoreType: PEM
{{- if .Values.tls.certCAFilename }}
nifi.security.truststore.certificate: /opt/bitnami/nifi/certs/{{ .Values.tls.certCAFilename }} 
{{- end }}
nifi.security.keystore.certificate: /opt/bitnami/nifi/certs/{{ .Values.tls.certFilename }}
nifi.security.keystore.privateKey: /opt/bitnami/nifi/certs/{{ .Values.tls.certKeyFilename }}
{{- end }}

## Clustering
nifi.state.management.provider.cluster: kubernetes-provider
nifi.state.management.provider.cluster.previous: kubernetes-provider
nifi.cluster.is.node: true
nifi.cluster.protocol.is.secure: {{ .Values.tls.enabled }}
nifi.cluster.leader.election.implementation: KubernetesLeaderElectionManager
nifi.cluster.node.address: {{ printf "{{ POD_NAME }}.%s.%s" (include "nifi.headlessServiceName" .) (include "common.names.namespace" .) | quote }}
nifi.cluster.node.protocol.port: {{ .Values.containerPorts.cluster }}
nifi.cluster.load.balance.host: {{ printf "{{ POD_NAME }}.%s.%s" (include "nifi.headlessServiceName" .) (include "common.names.namespace" .) | quote }}
nifi.cluster.load.balance.port: {{ .Values.containerPorts.loadBalance }}
nifi.cluster.leader.election.kubernetes.lease.prefix: {{ include "common.names.fullname" . }}
nifi.cluster.flow.election.max.wait.time: 30 sec
## Other required properties (otherwise NiFi crashes)
nifi.flowcontroller.graceful.shutdown.period: 10 sec
nifi.flowservice.writedelay.interval: 500 ms
nifi.python.command: /opt/bitnami/python/bin/python
{{- end }}

{{- if (not .Values.configuration.existingSecret) }}
{{- /* Using a secret because the configuration file contains sensitive data */}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ printf "%s-configuration" (include "common.names.fullname" .) | trunc 63 | trimSuffix "-" }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/part-of: nifi
    app.kubernetes.io/component: nifi
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
stringData:
  {{- /* NiFi has multiple configuration files, though we only edit by default the nifi.properties file */}}
  {{- if not (hasKey .Values.configuration.extraFiles "nifi.properties") }}
  {{- $nifiProperties := include "nifi.defaultNifiProperties" . | fromYaml -}}
  {{- if .Values.configuration.overrideNifiProperties }}
  {{- $overrideConfiguration := include "common.tplvalues.render" (dict "value" .Values.configuration.overrideNifiProperties "context" .) | fromYaml }}
  {{- $nifiProperties = mustMergeOverwrite $nifiProperties $overrideConfiguration }}
  {{- end }}
  nifi.properties: |
    {{- if .Values.configuration.nifiProperties }}
    {{- include "common.tplvalues.render" (dict "value" .Values.configuration.nifiProperties "context" $) | nindent 4 }}
    {{- else }}
    {{- include "nifi.yamlToProperties" $nifiProperties | nindent 4 }}
    {{- end }}
  {{- end }}
  {{- if and .Values.configuration.logToStdout (not (hasKey .Values.configuration.extraFiles "logback.xml")) }}
  logback.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <!-- Highly modified version of logback.xml so it logs to stdout -->

    <configuration scan="true" scanPeriod="30 seconds">
        <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
            <resetJUL>true</resetJUL>
        </contextListener>

        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%date %level [%thread] %logger{40} %msg%n</pattern>
            </encoder>
        </appender>

        <!-- valid logging levels: TRACE, DEBUG, INFO, WARN, ERROR -->

        <!-- Deprecation Log -->
        <logger name="deprecation" level="WARN" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <logger name="org.apache.nifi" level="INFO"/>
        <logger name="org.apache.nifi.processors" level="WARN"/>
        <logger name="org.apache.nifi.processors.standard.LogAttribute" level="INFO"/>
        <logger name="org.apache.nifi.processors.standard.LogMessage" level="INFO"/>
        <logger name="org.apache.nifi.controller.repository.StandardProcessSession" level="WARN" />
        <logger name="org.apache.parquet.hadoop.InternalParquetRecordReader" level="WARN" />

        <!-- Py4J set to WARN to avoid verbose socket communication messages -->
        <logger name="py4j" level="WARN" />

        <logger name="org.apache.zookeeper.ClientCnxn" level="ERROR" />
        <logger name="org.apache.zookeeper.server.NIOServerCnxn" level="ERROR" />
        <logger name="org.apache.zookeeper.server.NIOServerCnxnFactory" level="ERROR" />
        <logger name="org.apache.zookeeper.server.NettyServerCnxnFactory" level="ERROR" />
        <logger name="org.apache.zookeeper.server.quorum" level="ERROR" />
        <logger name="org.apache.zookeeper.ZooKeeper" level="ERROR" />
        <logger name="org.apache.zookeeper.server.PrepRequestProcessor" level="ERROR" />
        <logger name="org.apache.nifi.controller.reporting.LogComponentStatuses" level="ERROR" />

        <logger name="org.apache.calcite.runtime.CalciteException" level="OFF" />

        <logger name="org.apache.curator.framework.recipes.leader.LeaderSelector" level="OFF" />
        <logger name="org.apache.curator.ConnectionState" level="OFF" />

        <!-- Logger for managing logging statements for nifi clusters. -->
        <logger name="org.apache.nifi.cluster" level="INFO"/>

        <!-- Logger for logging HTTP requests received by the web server. -->
        <logger name="org.apache.nifi.server.JettyServer" level="INFO"/>

        <!-- Logger for managing logging statements for jetty -->
        <logger name="org.eclipse.jetty" level="INFO"/>
        <!-- Suppress non-error messages related to Logback ServletContainerInitializer -->
        <logger name="org.eclipse.jetty.ee10.annotations.AnnotationConfiguration" level="WARN"/>

        <!-- Suppress non-error messages due to excessive logging by class or library -->
        <logger name="org.springframework" level="ERROR"/>
        <logger name="org.springframework.security" level="INFO"/>

        <!-- Suppress non-error messages due to known warning about redundant path annotation (NIFI-574) -->
        <logger name="org.glassfish.jersey.internal.Errors" level="ERROR"/>

        <!-- Suppress non-error messages due to Jetty AnnotationParser emitting a large amount of WARNS. Issue described in NIFI-5479. -->
        <logger name="org.eclipse.jetty.annotations.AnnotationParser" level="ERROR"/>

        <!-- Suppress non-error messages from SSHJ which was emitting large amounts of INFO logs by default -->
        <logger name="net.schmizz.sshj" level="WARN" />
        <logger name="com.hierynomus.sshj" level="WARN" />

        <!-- Suppress non-error messages from SMBJ which was emitting large amounts of INFO logs by default -->
        <logger name="com.hierynomus.smbj" level="WARN" />

        <!-- Suppress non-error messages from AWS KCL which was emitting large amounts of INFO logs by default -->
        <logger name="software.amazon.awssdk.kinesis" level="WARN" />

        <!-- Suppress non-error messages from Apache Atlas which was emitting large amounts of INFO logs by default -->
        <logger name="org.apache.atlas" level="WARN"/>

        <!-- Suppress non-error messages from JetBrains Xodus FileDataWriter related to FileChannel -->
        <logger name="jetbrains.exodus.io.FileDataWriter" level="WARN" />

        <!-- Suppress warnings from Lucene Vectorization Provider related to JDK incubator features -->
        <logger name="org.apache.lucene.internal.vectorization.VectorizationProvider" level="ERROR" />
        <!-- Suppress information from Lucene Memory Segment Provider related to native access configuration -->
        <logger name="org.apache.lucene.store.MemorySegmentIndexInputProvider" level="WARN" />

        <!-- Set all loggers to stdout -->
        <logger name="org.apache.nifi.web.security.requests" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.apache.nifi.web.security" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.apache.nifi.web.api.config" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.apache.nifi.authorization" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.apache.nifi.cluster.authorization" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.apache.nifi.web.api.AccessResource" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.opensaml" level="WARN" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <logger name="org.apache.nifi.web.server.RequestLog" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.apache.nifi.bootstrap" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>
        <logger name="org.apache.nifi.bootstrap.Command" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="org.apache.nifi.StdOut" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="org.apache.nifi.StdErr" level="ERROR" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>

    </configuration>  
  {{- end }}
  {{- if .Values.configuration.extraFiles }}
  {{- include "common.tplvalues.render" (dict "value" .Values.configuration.extraFiles "context" $) | nindent 2 }}
  {{- end }}
{{- end }}
